@page "/servers/{id:int}"

<h3>Edit Server</h3>
<br/>
<br/>

@if (server != null)
{
    <p>
        @server.Name
    </p>
    <p>
        @server.City
    </p>
    <p>
        @server.IsOnline
    </p>
}
<br/>
<a href="/servers" class="btn btn-primary">Close</a>


@code {

    [Parameter]
    public int Id { get; set; }

    private Server? server;

    protected override void OnParametersSet()
    {
        server = ServersRepository.GetServerById(this.Id);
    }

}
