@page "/servers"

<h3>Servers</h3>
<br/>
<br/>

<ul>
    @foreach(var server in servers)
    {
        <li>
            @server.Name in @server.City is 
            <span style="color:@((server.IsOnline ? "green" : "red"))">
                @(server.IsOnline ? "online" : "offline")
            </span>
        </li>
    }
    
</ul>

@code {
    private List<Server> servers = ServersRepository.GetServersByCity("Toronto");

}
