@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Servers" 
        @bind-value="serverFilter"
        @bind-value:event="oninput" />
    <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>

<br/>

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@this.selectedCity" ></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";
    private string _serverFilter = "";
    private string serverFilter { 
        get=>_serverFilter; 
        set
        {
            _serverFilter = value;

            // do whatever you want

            //this.servers = ServersRepository.SearchServers(_serverFilter);
        }
    }    

    private void HandleSearch()
    {
        //this.servers = ServersRepository.SearchServers(serverFilter);

        //this.selectedCity = string.Empty;
    }

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
    }

}
