@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br/>
<br/>

<CityListComponent SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<SearchBarComponent SearchServerCallback="HandleSearchServer"></SearchBarComponent>

<br/>

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@this.selectedCity"
    SearchFilter="@searchFilter"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";
    private string searchFilter = "";

    private void HandleSearch()
    {
        //this.servers = ServersRepository.SearchServers(serverFilter);

        //this.selectedCity = string.Empty;
    }

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        this.searchFilter = string.Empty;
    }

    private void HandleSearchServer(string searchFilter)
    {
        this.searchFilter = searchFilter;
    }
}
