@page "/counter"

<h3>Counter</h3>
<br/>

@* <b>Server Interactivity</b>
<WebAssemblyDemo.Client.Pages.CounterComponent @rendermode="InteractiveServer"></WebAssemblyDemo.Client.Pages.CounterComponent>

<br/>
<br />
<br /> *@
<b>WebAssembly Interactivity</b>
<WebAssemblyDemo.Client.Pages.CounterComponent @rendermode="InteractiveWebAssembly"></WebAssemblyDemo.Client.Pages.CounterComponent>

@code {

}
