@page "/todolist"

@rendermode InteractiveServer

<h3>To Do</h3>
<br/>

<button 
    type="button" 
    class="btn btn-primary"
    @onclick="AddTask">
    Add Task
</button>
<br/>
<br />
@if (items != null && items.Count > 0)
{
    <ul class="list-unstyled">
        <ItemsListComponent Items="items"></ItemsListComponent>
    </ul>
}



@code {

    private List<ToDoItem> items = ToDoItemsRepository.GetItems();

    private void AddTask()
    {
        ToDoItemsRepository.AddItem(new ToDoItem { Name = "New Task" });
        items = ToDoItemsRepository.GetItems();
    }

}
