
@if (cities != null && cities.Count > 0)
{
    <div class="container-fluid text-center">
        <div class="row w-50">
            @foreach (var city in cities)
            {
                <CityComponent 
                    city="@city"
                    selectedCity="@selectedCity"
                   SelectCityCallback="HandleCitySelection"></CityComponent>
            }
        </div>
    </div>

}

@code {

    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    public void ClearSelection()
    {
        this.selectedCity = string.Empty;
    }

    private string selectedCity = "Toronto";

    private List<String> cities = CitiesRepository.GetCities();

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;

        SelectCityCallback.InvokeAsync(cityName);
    }

}
