@page "/wasm/servers/add"
@using WebAssemblyDemo.Client.Models

@rendermode InteractiveWebAssembly

@inject NavigationManager NavigationManager

<h3>Add Server</h3>
<br/><br/><EditForm Model="server" FormName="formServer" OnValidSubmit="Submit">    <DataAnnotationsValidator></DataAnnotationsValidator>    <ValidationSummary></ValidationSummary>        <div class="row mb-3">        <div class="col-2">            <label class="col-form-label">Name</label>        </div>        <div class="col-6">            <InputText @bind-Value="server.Name" class="form-control"></InputText>        </div>        <div class="col">            <ValidationMessage For="() => server.Name"></ValidationMessage>        </div>    </div>    <div class="row mb-3">        <div class="col-2">            <label class="col-form-label">City</label>        </div>        <div class="col-6">            <InputText @bind-Value="server.City" class="form-control"></InputText>        </div>        <div class="col">            <ValidationMessage For="() => server.City"></ValidationMessage>        </div>    </div>    <div class="row mb-3">        <div class="col-2">            <label class="col-form-label">Online</label>        </div>        <div class="col-6">            <InputCheckbox @bind-Value="server.IsOnline" class="form-check-input"></InputCheckbox>        </div>    </div>    <br />    <button class="btn btn-primary" type="submit">Save</button>    &nbsp;    <a href="/servers" class="btn btn-primary">Close</a></EditForm>@code {

    private Server server { get; set; } = new Server() { IsOnline = false };

    private void Submit()
    {
        if (server != null)
        {
            ServersRepository.AddServer(server);
            NavigationManager.NavigateTo("/wasm/servers");
        }
    }

}
