@page "/browser_wasm_1"

@rendermode InteractiveWebAssembly

@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@inject ContainerStorage ContainerStorage

<h3>Browser Storage Step 1</h3>
<br/>
<br/>

<input type="text" class="form-control" @bind-value="data" />
<br/>
<br/>
<button type="button" class="btn btn-primary" @onclick="GoNext">Next</button>

@code {
    private string data = "";

    private async Task GoNext()
    {
        //await JSRuntime.InvokeVoidAsync("sessionStorage.setItem", "demo-data", data);
        ContainerStorage.SetMessage(data);
        NavigationManager.NavigateTo("/browser_wasm_2");
    }

}
