@page "/browser_wasm_2"

@rendermode InteractiveWebAssembly

@inject IJSRuntime JSRuntime

@inject ContainerStorage ContainerStorage

<h3>Browser Storage Step 2</h3>
<br/>
<br/>
<b>Demo Data:</b> @data

@code {
    private string data = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //data = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "demo-data");
            data = ContainerStorage.GetMessage();
            StateHasChanged();
        }
        
    }

}
